a:focus {
    font-weight : bold;
    color : green;
}

a:link {
    color : #55799C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color : red;
}

body {
    font-family : Garamond, Times, "New Century Schoolbook", serif;
    margin : 0pt;
    background-color : #EBF3FE;
    background-image : url(/riscos/images/tile.png);
}

p.housekeeping {
    font-size : 8pt;
    color : gray;
    text-align : right;
    font-style : italic;
}

.riscos {
    background-color : green;
    color            : white;
}

div.partition {
    border-radius : 15px;
    -moz-border-radius : 15px;
    -o-border-radius : 15px;
    -webkit-border-radius : 15px;
    background-color : white;
    z-index : 1;
    padding : 10px;
    margin : 3px;
}

div.white {
    border-radius : 15px;
    -moz-border-radius : 15px;
    -o-border-radius : 15px;
    -webkit-border-radius : 15px;
    background-color : white;
    z-index : 1;
    padding : 10px;
    margin : 3px;
}

dt {
    text-align : left;
    font-size : 14pt;
    font-weight : bold;
}

dd {
    font-size : 12pt;
    text-align : left;
    padding : 2pt;
}

.resultheader {
  background-image: -moz-linear-gradient(left, #222222 0%, white 100%);
  background-image: -o-linear-gradient(left, #222222 0%, white 100%);
  background-image: -webkit-linear-gradient(left, #222222 0%, white 100%);
  background-image: -ms-linear-gradient(left, #222222 0%, white 100%);
  color : #6877A3;
  font-size : 14pt;
  font-weight : bold;
  text-align : left;
  padding : 2pt;
}

.software {
  border-radius : 5px;
  -moz-border-radius : 5px;
  -o-border-radius : 5px;
  -webkit-border-radius : 5px;
  border : maroon outset 0.1em;
  background-color : white;
  font-size : 10pt;
  margin: 2pt auto;
  margin-bottom: 48px;
  max-width : 99%;
}

#searchcriteria, #regex {
  border-radius : 5px;
  -moz-border-radius : 5px;
  -o-border-radius : 5px;
  -webkit-border-radius : 5px;
  border : #EEEEEE outset 0.1em;
  background-color : white;
  font-size : 10pt;
  margin: 2pt auto;
}

.maincontent {
    text-align : center;
}

img.headingicon {
    float : left;
}

p.heading {
    text-align : center;
    margin : 0em;
}

img {
    border : 0;
}

h3.columnheading {
    background-color : maroon;
    color : #FDE990;
}

#syndicatedfeed {
    border : 5pt;
    padding : 5pt;
    margin : 5pt;    
}

#syndicatedfeed td {
    background-color : #333333;
    color : white;
    border : 5pt;
    padding : 5pt;
    margin : 5pt;
    text-align : left;    
}

.sourcecode {
  border-radius : 5px;
  -moz-border-radius : 5px;
  -o-border-radius : 5px;
  -webkit-border-radius : 5px;
  border : #EEEEEE outset 0.1em;
  margin-top : 2pt;
  margin-bottom : 2pt;
  margin-left : 2pt;
  margin-right : 2pt;
  background-color : #1111FF;
  color : white;
  font-size : 12pt;
  text-align : left;
}

ul {
    margin : 0px;
    padding-left : 14px;
    text-align : left;
}

.embedded {
    border : 1px dotted #AAAAAA;
    
}

.embedded td {
    border : 1px dotted #AAAAAA;
}

li {
    margin : 0px;
}

#topbar {
    background-color : #1B1E23;
    //background-image : url(/riscos/images/black.jpg);
    padding : 3pt;
}

h3.underlined {
    text-align : left;
    text-decoration: underline;
    width : 100%;
}

.error {
   color : red;
}

.warning {
    color : red;
    font-size : 12pt;  
}

.software th, #searchcriteria th, #regex th {
    background-color : #C0DBF2;
    background-image : url(/riscos/images/t5l.png);
    color : maroon;
    font-size : 12pt;
}

.software td, #searchcriteria td, #regex td {
    background-color : white;
    color : black;
    font-size : 12pt;
    border : 1px dotted #AAAAAA;
}

#header {
    //background-image : url(/riscos/images/red.jpg);
    background-color : maroon;
    color : #FDE990;
    width : 100%;
    left : 0px;
    top : 0px;
    margin : 0px;
    padding : 0px;
    border-collapse : collapse;
}

#lowerbuttonbar {
    padding : 2pt;
    margin : 0px;
}

#upperbuttonbar {
    padding : 2pt;
    margin : 0px;
}

#logo {
    margin : 0pt;  
    padding : 2pt;
}

#titlebar {
    margin : 0pt;  
    padding : 2pt;   
}

#title {
    color : #FDE990;
    font-size : 20pt;
    text-align : center;
    text-shadow : 0 0 0.1em #F00;
    display : inline;
}

#infobar {
    color : #333333;
    background-color : #DDDDDD;
    font-size : 10pt;
    margin : 0pt;
    width : 100%;
}

form.inline {
    display : inline;
    padding: 0px;
}

a.external {
    border-radius : 3px;
    -moz-border-radius : 3px;
    -o-border-radius : 3px;
    -webkit-border-radius : 3px;
    background-color : #6BC04D;
    color : #EEFFFF;
    border : #4463A3 solid 0.1em;
    padding: 3px;
}

a.external:hover {
    background-color : #6BC04D;
    text-decoration: none;
    color : blue;
}

input {
    border-radius : 3px;
    -moz-border-radius : 3px;
    -o-border-radius : 3px;
    -webkit-border-radius : 3px;
    font-size : 10pt;
}

input.rescan {
    font-size : 10pt;
    background-color : red;
    color : white;
}

input.watchlist {
    font-size : 10pt;
    background-color : maroon;
    color : #FDE990;
    border : #1B1E23 solid 0.1em;
}

input.watchlist:hover {
    color : maroon;
    background-color : #FDE990;
}

p.json {
    text-align : left;
    color : gray;
}

b.key {
    color : blue;
}

b.element {
    color : green;
}

b.value {
    color : green;
}

select {
    color : maroon;
    background-color : #FDE990;
}

input.button {
    font-size : 10pt;
    background-color : maroon;
    color : #FDE990;
    border : #1B1E23 solid 0.1em;
}

input.button:hover {
    color : maroon;
    background-color : #FDE990;
}

td.filter {
    background-color : #1B1E23;
    //background-image : url(/riscos/images/black.jpg);
    padding : 3pt;
}

table.filter {
    margin-left : auto; 
    margin-right : auto;
    background-color : #1B1E23;
    font-size : 10pt;
}

table.filter td{
    text-align : center;
}

b.green {
    font-size : 10pt;
    text-align : left;
    color : green;
}

b.inverse {
    font-size : 10pt;
    text-align : left;
    color : white;
    background-color : black;
}

.website {
    margin-left : 25%;
    margin-right : 25%;
}

#introduction {
    margin-left : 10%;
    margin-right : 10%;
    border-radius : 15px;
    -moz-border-radius : 15px;
    -o-border-radius : 15px;
    -webkit-border-radius : 15px;
    background-color : white;
    z-index : 1;
    padding : 10px;
}

.report {
    margin-left : 25%;
    margin-right : 25%;
}

#key {
    margin-left : 25%;
    margin-right : 25%;
}

p.introduction, .report {
    color : black;
    text-align : left;
    text-indent : 2em;
}

p.key {
    color : black;
    text-align : left;
}

h3.introduction {
    text-align : left;
}

tr.superseded {
    background-color : gray;
}

tr.zebra {
  background-color : #E8ECDE;
}

#footer_container {
    height : 48px;
    width : 100%;
    left : 0pt;
    bottom : 0;
    display : block;
    position : fixed;
}   

#footer_contents {
    height :48px;
    width : 100%;
    margin : auto;
    text-align : center;
    vertical-align : middle;
    border-top : 1px dotted #AAAAAA;
    font-size : 10pt;
    color : #FDE990;
    background-color : maroon;
    //background-image : url(/riscos/images/red.jpg);
    background-repeat: repeat;
    background-attachment : scroll;
    background-position : 0% 0%;
}
